table.responsive-table {
	display:block;
	max-width:100%;
	text-align:center;
}
table.responsive-table thead {
	display:none;
}
table.responsive-table tbody, tfoot, tr, th, td {
	display:block;
	max-width:100%;
}
